html {
  overflow-y: scroll;
}
body {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  background-color: #7986CB;
}
img {
  margin: 2%;
}
button {
  margin: 5px;
}
header {
  padding: 5px 10px 10px 10px;
  position: fixed;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #1A237E;
}
#imageSection {
  margin-top: 100px;
}
#randomRadio {
  margin-left: 10px;
}
#iconBox {
  text-align: center;
  line-height: 75px;
  font-size: 2.0em;
}
aside {
  padding: 10px;
  top: 135px;
  right: 60px;
  position: fixed;
  background-color: #1A237E;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-primary {
  background-color: #3F51B5;
}
.btn-primary:hover {
  background-color: #FFFF00;
  color: black;
}
#searchField {
  color: black;
}
